*
{
    margin:0 auto;
    padding:0;
}


.one
{
    width:800px;
    height: 200px;
    background-color: rgb(209, 245, 234);
    margin-top:50px;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-family: Arial;
    /* box-shadow: 0px 10px 20px black; */
    /* box-shadow:inset 0px 0px 50px black; */
    box-shadow:0px 0px 0px 10px lightgray,0px 0px 0px 20px gray,0px 0px 0px 30px black;
    text-shadow:2px 11px 12px black;
}
ul
{
    margin:50px;
}
ul li::before{
    content: "\00A5";
    color:red;
    margin-right:20px;
}
ul li::after
{
    content:"-------------------------------------------- \00A5";

}



.tooltip
{
    width:400px;
    height: 200px;
    background-color: rgb(1, 47, 47);
    color:white;
    border-radius: 30px;
}
.tooltip::before
{
    content:"";
    width:0px;
    height:0px;
    /* background-color: orange; */
    border-left: 0px solid transparent;
    border-right:20px solid rgb(1, 47, 47);
    border-bottom: 20px solid transparent;
    border-top:20px solid transparent;
    position: absolute; 
    margin:40px 0 0 -18px;
    
}



