*
{
    margin:0 auto;
    padding:0;
}
ul
{
    list-style-type: none;
    width: 300px;
    border:1px solid red;
    padding:10px;
    background-color: aquamarine;
    box-shadow: 2px 5px 5px black;
}
ul input,textarea,select
{
    width: 100%;
    padding:10px 8px;
    box-sizing: border-box;
    margin-top:10px;
}